body {
    /* background-color: #f5f5f5; */
    background-color: #f9f9f9;
}

#root {
    font-family: 'Poppins', sans-serif;
    color: rgb(50, 50, 50);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #6d60e3;
    border-width: thick;
}

h5 {
    margin: 0px;
}

.sm {
    font-size: 10px;
}

.container-fullwidth {
    padding: 0px;
    background-color: none;
    align-items: center;
}

.header {
    padding: 30px 32px 0px 32px;
    font-size: 30px;
    font-weight: bolder;
}

span.vertical-three-dots {
    margin-right: -10px;
}

.vertical-three-dots {
    font-size: 24px;
    margin-left: 4px;
    float: right;
    margin: 0;
}

.search-container {
    padding: 20px 32px 0px 32px;
}

.input-group {
    border-radius: 24px;
}

.search {
    outline: none;
    border: none;
    padding: 24px 32px 24px 32px;
    width: 100%;
}

.search:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    color: rgb(50, 50, 50);
}

.search-append {    
    width: 3.375rem;
    border-radius: 16px 0px 0px 16px;
    line-height: 2rem;
    color: rgb(255, 255, 255);
    background-color: #fff;
    outline: none;
    border: none;
}

.search-append:hover {
    color: #fff;
}

.search-icon {
    background-color: #6d60e3;
    padding: 0px 9px 0px 9px;
    border-radius: 24px;
    font-size: 14px;
}

.result-container {
    padding: 24px 32px 0px 32px;
}

.card {
    text-align: center;
    padding: 30px;
    height: auto;
    border: none;
    color: #5c5c5c;
}

.navbar {
    background-color: #6d60e3;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 32px;
    padding: 6px 0px 8px 0px;
    font-size: 24px;
}

.input-group, .card, .navbar {
    /* box-shadow: 0 14px 28px rgba(223, 223, 223, 0.25), 0 10px 10px rgba(223, 223, 223, 0.25); */
    box-shadow:
        0 2.8px 2.2px rgba(83, 83, 83, 0.034),
        0 6.7px 5.3px rgba(83, 83, 83, 0.034),
        0 12.5px 10px rgba(83, 83, 83, 0.034),
        0 22.3px 17.9px rgba(83, 83, 83, 0.034),
        0 41.8px 33.4px rgba(83, 83, 83, 0.034),
        0 100px 80px rgba(83, 83, 83, 0.034)
}

.search, .search-append, .card, .navbar {
    border-radius: 24px;
}

.first-section, .second-section, .third-section {
    justify-content: center;
}

.first-section {
    justify-content: center;
    margin: 0px 0px 16px 0px;
}

.second-section {
    font-size: 50px;
    font-weight: bold;
}

.third-section {
    margin: -36px 0px 0px 0px;
}

.weather-icon {
    fill: #5c5c5c;
}

p.m-0 {
    margin-top: -18px !important;
}

.degree {
    font-size: 24px;
    position: absolute;
    margin-top: 92px;
    margin-left: 72px;
}

/* react transition group */

.fade-first-appear {
    opacity: 0;
    animation: slide-up 1000ms ease;
}

.fade-first-appear.fade-first-appear-active {
    opacity: 1;
    transition: ease 1000ms;
}

.fade-second-appear {
    opacity: 0;
    animation: slide-up 1600ms ease;
}

.fade-second-appear.fade-second-appear-active {
    opacity: 1;
    transition: ease 1600ms;
}

@keyframes slide-up{
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0);
    }
}