body {
    background: rgb(30,40,49);
    background: linear-gradient(180deg, rgba(30,40,49,1) 20%, rgba(29,37,45,1) 80%);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 0px 24px 0px 24px !important;
}

.search {
    outline: none !important;
    padding: 16px 16px 16px 16px !important;
    border-radius: 15px !important;
    border: none !important;
    background: #252F38 !important;
    color: #b9b9b9 !important;
    font-size: 14px !important;
}

.search:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.card-main {
    padding: 24px 0px 24px 0px !important;
    /* margin: 0px 40px 0px 40px !important; */
    color: #1D252D;
    background-color: #ffffff !important;
    border-radius: 50px 50px 0px 0px !important;
    /* position: absolute !important; */
    /* bottom: 0 !important; */
}

.card-wind {
    border-radius: 1.5em;
    padding: 10px 0px 10px 0px;
    margin: 0px 10px 0px 10px;
    background-color: #fd6e22;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1e2432;
    text-align: center;
}

.city sup {
    font-size: 0.2em;
}

.city-name {
    font-size: 2em;
}

.city-name sup {
    padding: 0.2em 0.6em;
    margin-left: 0.3em;
    border-radius: 30px;
    color: #fff;
    background: #fd6e22;
    font-size: 14px;
}

.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .search {
        padding: 24px 20px 24px 20px !important;
        min-width: 300px;
        /* margin-top: 140px !important; */
    }

    .card {
        padding: 40px 20%;
    }
}